<VirtualHost *:80>
        ServerAdmin hostmaster@remyj.fr
        DocumentRoot {{ httpd_data_dir }}/html
        ScriptAlias /cgi-bin/	{{ httpd_data_dir }}/html/cgi-bin/
	Errorlog /var/log/httpd/default_err.log
#	LogLevel warn rewrite:trace6
	<Directory />
                Options FollowSymLinks Indexes
                AllowOverride All
        </Directory>
        <Directory {{ httpd_data_dir }}/html/>
                Options FollowSymLinks MultiViews Indexes
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>
	<Directory {{ httpd_data_dir }}/html/cgi-bin/>
		Options FollowSymLinks	Indexes	ExecCGI
		AllowOverride All
		Order deny,allow
		Deny From All
		Allow From 127
	</Directory>
	Alias /vpn /home/remy/Developpement/Dashboard_OpenVPN/src
	Alias /blacklist /home/remy/Developpement/blacklist
        AssignUserId remy remy
#	<Location />
#		ProxyPass http://initmanfs.dev.local/
#	</location>
</VirtualHost>
<VirtualHost *:443>
	ServerAdmin hostmaster@remyj.fr
        DocumentRoot {{ httpd_data_dir }}/html
        ScriptAlias /cgi-bin/   {{ httpd_data_dir }}/html/cgi-bin/
        Errorlog /var/log/httpd/default_err.log
        <Directory />
                Options FollowSymLinks Indexes
                AllowOverride None
        </Directory>
        <Directory {{ httpd_data_dir }}/html/>
                Options FollowSymLinks MultiViews Indexes
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>
        <Directory {{ httpd_data_dir }}/html/cgi-bin/>
                Options FollowSymLinks  Indexes ExecCGI
                AllowOverride None
                Order deny,allow
                Deny From All
                Allow From 127
        </Directory>
        Alias /apiOvh /home/remy/Developpement/API-OVH
        Alias /commun /mnt/commun
	SSLEngine on
	SSLCertificateFile /etc/httpd/ssl/apache.crt
	SSLCertificateKeyFile /etc/httpd/ssl/apache.key
</VirtualHost>
