<VirtualHost *:80>
        ServerAdmin hostmaster@remyj.fr
        ServerName admin.remyj.fr
        DocumentRoot {{ httpd_data_dir }}/admin
        <Directory />
                Options FollowSymLinks
                AllowOverride None
        </Directory>
        <Directory {{ httpd_data_dir }}/admin/>
                Options FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>
</VirtualHost>
