<VirtualHost *:80>
        ServerAdmin hostmaster@remyj.fr
        ServerName ida.dev.remyj.fr
        DocumentRoot /home/remy/Developpement/IDAArcClub/web/
        <Directory />
                Options FollowSymLinks
                AllowOverride None
        </Directory>
        <Directory /home/remy/Developpement/IDAArcClub/web/>
                Options FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>
	AssignUserId remy remy
</VirtualHost>
<VirtualHost *:80>
        ServerAdmin hostmaster@remyj.fr
        ServerName ida-test.dev.remyj.fr
        DocumentRoot {{ httpd_data_dir }}/idaarcclub-prod/web/
        <Directory />
                Options FollowSymLinks
                AllowOverride None
        </Directory>
        <Directory {{ httpd_data_dir }}/idaarcclub-prod/web/>
                Options FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>
	AssignUserId remy remy
</VirtualHost>
