<VirtualHost *:80>
        ServerAdmin hostmaster@remyj.fr
        ServerName www.idaarcclub.com
        DocumentRoot {{ httpd_data_dir }}/ida
        <Directory />
                Options FollowSymLinks
                AllowOverride All
        </Directory>
        <Directory {{ httpd_data_dir }}/html/ida/>
                Options FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>
</VirtualHost>
