#<VirtualHost *:80>
#        ServerAdmin hostmaster@remyj.fr
#	servername initmanfs.dev.local
#	ServerAlias dev.initmanfs.eu
#        DocumentRoot /home/remy/Bureau/hugo/public
#        <Directory />
#                Options FollowSymLinks Indexes
#                AllowOverride All
#        </Directory>
#        <Directory /home/remy/Bureau/hugo/public>
#                Options FollowSymLinks MultiViews Indexes
#                AllowOverride All
#                Order allow,deny
#                allow from all
#        </Directory>
#        AssignUserId remy remy
#</VirtualHost>
