<VirtualHost *:80>
        ServerAdmin hostmaster@remyj.fr
        ServerName www.remyj.fr
        DocumentRoot {{ httpd_data_dir }}/html/cv
        <Directory />
                Options FollowSymLinks
                AllowOverride None
        </Directory>
        <Directory {{ httpd_data_dir }}/html/cv/>
                Options FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>
</VirtualHost>
<VirtualHost *:443>
        ServerAdmin hostmaster@remyj.fr
        ServerName www.remyj.fr
        DocumentRoot {{ httpd_data_dir }}/html/cv
        <Directory />
                Options FollowSymLinks
                AllowOverride None
        </Directory>
        <Directory {{ httpd_data_dir }}/html/cv/>
                Options FollowSymLinks MultiViews
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>
	SSLEngine on
</VirtualHost>

