<VirtualHost *:80>
        ServerAdmin hostmaster@remyj.fr
	ServerName ssh.local
        DocumentRoot {{ httpd_data_dir }}/ssh_manager/src/
        <Directory />
                Options FollowSymLinks Indexes
                AllowOverride All
		Order Allow,Deny
		Allow from all
        </Directory>
        <Directory {{ httpd_data_dir }}/ssh_manager/src/>
                Options FollowSymLinks MultiViews indexes
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>
</VirtualHost>
