<VirtualHost *:80>
        ServerAdmin hostmaster@remyj.fr
	ServerName stages.local
        DocumentRoot {{ httpd_data_dir }}/stages
        <Directory />
                Options FollowSymLinks Indexes
                AllowOverride All
		Order Allow,Deny
		Allow from all
        </Directory>
        <Directory {{ httpd_data_dir }}/stages/>
                Options FollowSymLinks MultiViews indexes
                AllowOverride All
                Order allow,deny
                allow from all
        </Directory>
</VirtualHost>
