<VirtualHost *:80>
        ServerAdmin hostmaster@remyj.fr
        ServerName dev.local
        ServerAlias *.dev.local
        VirtualDocumentRoot {{ httpd_data_dir }}/%1
        <Directory />
                Options FollowSymLinks Indexes
                AllowOverride All
		            Order Allow,Deny
		            Allow from all
        </Directory>
        AssignUserId remy remy
</VirtualHost>
